body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    /*justify-content: center;*/
}


* {
    padding: 10px;
}


.calculator {
    display: flex;
    border: 5px solid red;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    max-width: 30%;
    flex-wrap: wrap;
    align-self: center;
    /*justify-self: center;*/
}


.number {
    background-color: lightcoral;

}

#numbers {
    display: flex;
}